@charset 'utf-8';
body,div,h1,h2,h3,h4,h5,h6,ul,li,ol{
    margin:0px;
    padding: 0px;
}
.xe-header{
    width: 100%;
    height: 80px;
    background:#0f0;
}
.xe-main{
    width: 100%;
    height: 570px;
}
.main-left{
    width: 25%;
    height: 570px;
    display: inline-block;
    float: left;
    background:#2887d7;
}
.main-right{
    width: 75%;
    height: 570px;
    background-color:#fff;
    display: inline-block;
    float: left;
}