@charset 'utf-8';
.xe-header{
    height: 80px;
    width: 100%;
}
.xe-logo{
    width: 500px;
}
.xe-logo>h1{
    float: left;
    margin-left: 80px;
    margin-top:20px;
}
.xe-logo>h2{
    float: left;
    margin-left:20px;
    margin-top:21px;
    color: #2887d7;
    font-size:28px;
}
.xe-help{
    width: 60px;
    float: right;
    margin-top:34px;
    margin-right: 100px;
    text-align: right;
    background:url(../sources/images/shezhi.png) no-repeat;
}
.xe-footer{
    color:#ccc;
    float: left;
    margin-left: 80px;
    margin-top: 20px;
}